* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
body {
  --clientWidth: 1920;
  --s: calc(var(--clientWidth) / 1920);
  --gold: #ffd700;
  --gold88: rgba(255, 215, 0, 0.53);
  --goldDark: #eda725;
}
body.anti-aug-transitions *,
body.anti-aug-transitions *:before,
body.anti-aug-transitions *:after {
  transition: clip-path 4s ease;
}
body.anti-aug [augmented-ui~="exe"],
body.anti-aug #bgFPS[augmented-ui~="exe"],
body.anti-aug [augmented-ui~="exe"]:before,
body.anti-aug [augmented-ui~="exe"]:after,
body.anti-aug .aug-exe,
body.anti-aug #bgFPS.aug-exe,
body.anti-aug .aug-exe:before,
body.anti-aug .aug-exe:after {
  --aug-inset: 0px;
  --aug-tl: 0px;
  --aug-tl-height: 0px;
  --aug-tl-width: 0px;
  --aug-tr: 0px;
  --aug-tr-height: 0px;
  --aug-tr-width: 0px;
  --aug-br: 0px;
  --aug-br-height: 0px;
  --aug-br-width: 0px;
  --aug-bl: 0px;
  --aug-bl-height: 0px;
  --aug-bl-width: 0px;
  --aug-t: 0px;
  --aug-t-height: 0px;
  --aug-t-width: 0px;
  --aug-r: 0px;
  --aug-r-height: 0px;
  --aug-r-width: 0px;
  --aug-b: 0px;
  --aug-b-height: 0px;
  --aug-b-width: 0px;
  --aug-l: 0px;
  --aug-l-height: 0px;
  --aug-l-width: 0px;
}
body.anti-aug .presentation-el {
  --aug-border-bg: var(--gold88);
  --aug-inset-bg: var(--gold);
}
.header-animation-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: calc(var(--clientWidth) * 9px / 16);
  pointer-events: none;
  background: #000000;
  --aug-tl: 30px;
  --aug-tl-width: 170px;
  --aug-bl: 20px;
  --aug-bl-width: 40%;
  --aug-br: 20px;
  --aug-br-width: 40%;
  --aug-border: 1px;
  --aug-border-bg: #c89373;
  --aug-inset: 0px;
  --aug-inset-bg: rgba(0, 0, 0, 0.8);
}
.header-animation-container:before {
  z-index: 2;
}
body.background-haulted .header-animation-container {
  --aug-inset-bg: linear-gradient(to bottom, #ff000033, rgba(0, 0, 0, 0.8), #ff000033), rgba(0, 0, 0, 0.8);
}

.demo-presentation {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-height: calc(var(--clientWidth) * 9px / 16);
  perspective: 500px;
}

.presentation-focus {
  pointer-events: all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(-250px);
}

/* .demo-presentation houses all the --pjAnim vars */
.presentation-el {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding: 70px;
  height:               var( --pjAnim-height,         350px   );
  width:                var( --pjAnim-width,          550px   );
  --aug-inset:          var( --pjAnim-inset,          7px     );
  --aug-inset-bg:       var( --pjAnim-inset-bg,       #ffd700 );
  --aug-border:         var( --pjAnim-border,         5px     );
  --aug-border-bg:      var( --pjAnim-border-bg,      #ffd700 );
  --aug-border-opacity: var( --pjAnim-border-opacity, 0.5     );
  --aug-l-offset:       var( --pjAnim-l-offset,       0px     );
  --aug-b-offset:       var( --pjAnim-b-offset,       0px     );
  --aug-tl:             var( --pjAnim-tl,             10px    );
  --aug-tl-height:      var( --pjAnim-tl-height,      0px     );
  --aug-tl-width:       var( --pjAnim-tl-width,       0px     );
  --aug-tr:             var( --pjAnim-tr,             20px    );
  --aug-tr-height:      var( --pjAnim-tr-height,      20px    );
  --aug-tr-width:       var( --pjAnim-tr-width,       160px   );
  --aug-br:             var( --pjAnim-br,             20px    );
  --aug-br-height:      var( --pjAnim-br-height,      0px     );
  --aug-br-width:       var( --pjAnim-br-width,       0px     );
  --aug-bl:             var( --pjAnim-bl,             30px    );
  --aug-bl-height:      var( --pjAnim-bl-height,      30px    );
  --aug-bl-width:       var( --pjAnim-bl-width,       30px    );
  --aug-t:              var( --pjAnim-t,              0px     );
  --aug-t-height:       var( --pjAnim-t-height,       0px     );
  --aug-t-width:        var( --pjAnim-t-width,        0px     );
  --aug-r:              var( --pjAnim-r,              0px     );
  --aug-r-height:       var( --pjAnim-r-height,       0px     );
  --aug-r-width:        var( --pjAnim-r-width,        0px     );
  --aug-b:              var( --pjAnim-b,              15px    );
  --aug-b-height:       var( --pjAnim-b-height,       15px    );
  --aug-b-width:        var( --pjAnim-b-width,        120px   );
  --aug-l:              var( --pjAnim-l,              20px    );
  --aug-l-height:       var( --pjAnim-l-height,       210px   );
  --aug-l-width:        var( --pjAnim-l-width,        20px    );
}
.presentation-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #442200;
  width: 420px;
}

.definitions-container {
  pointer-events: all;
  position: absolute;
  bottom: 45px;
  right: 25px;
  height: 150px;
  width: 300px;
  transform-origin: 100% 50%;
  transform: rotateY(-5deg);
}
.definitions-container .def {
  padding: 10px;
  --aug-inset: 3px;
  --aug-inset-bg: rgba(0, 0, 0, 0.25);
  --aug-border: 2px;
  --aug-border-bg: var(--gold88);
  --aug-border-fallback-color: #ffd700;
  --aug-tr: 6px;
  --aug-bl: 6px;
  --aug-br: 25px;
  --aug-tl: 25px;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  line-height: 15px;
}
.definitions-container .def b,
.definitions-container .def em {
  font-size: 16px;
}
.definitions-container .def span {
  font-size: 12px;
}

.bg-controls-container {
  pointer-events: all;
  position: absolute;
  bottom: 45px;
  left: 25px;
  height: 50px;
  width: 300px;
  transform-origin: 0 50%;
  transform: rotateY(5deg);
}

.bg-controls {
  padding: 10px;
  --aug-inset: 3px;
  --aug-inset-bg: rgba(0, 0, 0, 0.25);
  --aug-border: 2px;
  --aug-border-bg: var(--gold88);
  --aug-border-fallback-color: #ffd700;
  --aug-tl: 6px;
  --aug-br: 6px;
  --aug-bl: 25px;
  --aug-tr: 25px;
  height: 100%;
  width: 100%;
}

.diagnostics-info {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 190px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  line-height: 15px;
}

.performance-detail:after {
  content: "";
  color: var(--gold);
}
.great-fps .performance-detail:after { content: "GREAT"; }
.good-fps .performance-detail:after { content: "GOOD"; }
.fair-fps .performance-detail:after { content: "FAIR"; }
.bad-fps .performance-detail:after { content: "BAD"; color: #ffaaaa; }
.awful-fps .performance-detail:after { content: "AWFUL"; color: #ff8888; }
.awful-fps-hault .performance-detail:after { content: "HAULTED"; color: #ff0000; }
.performance-detail {
  font-size: 12px;
  opacity: 0.65;
}

#bgFPS {
  background: var(--gold);
  color: #ffffff;
  text-shadow: 0px 0px 32px rgba(0, 0, 0, 0.8);
  height: 60px;
  width: 45px;
  position: absolute;
  left: 25px;
  bottom: 20px;
  --aug-tl: 3px;
  --aug-br: 3px;
  --aug-bl: 10px;
  --aug-tr: 10px;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}
.awful-fps-hault #bgFPS {
  background: linear-gradient(to right, #ff000033, #ff000033), var(--gold);
}

.fps-label {
  background: #000000;
  color: #ffffff;
  height: 20px;
  width: 35px;
  position: absolute;
  left: 42px;
  bottom: 14px;
  --aug-bl: 7px;
  --aug-tr: 7px;
  font-size: 11px;
  text-align: center;
  --aug-border: 1px;
  --aug-border-bg: #ffffff88;
  padding-top: 5px;
  letter-spacing: 1px;
  line-height: 11px;
}

.header-gap {
  height: calc(var(--headerHeight, 1080px) - 20px);
  width: 100%;
  pointer-events: none;
  position: relative;
}

h1.top-left {
  padding: 5px;
  padding-left: 15px;
  background: var(--gold);
  color: #312307;
  width: 170px;
  height: 30px;
  --aug-br: 30px;
}

.header-fallback-info {
  position: absolute;
  left: 170px;
  top: 0px;
  padding: 7px;
  padding-left: 15px;
  color: gold;
  width: calc(100% - 170px);
  height: 30px;
  opacity: 0.5;
  font-size: 14px;
  display: none;
}
@supports (not (clip-path: polygon(0 0, 100% 0, 50% 50%))) {
  .header-fallback-info {
    display: block;
  }
}
