.section-2 {
  background: linear-gradient(to bottom right, #13242c 40%, #0b1519 70%);
  min-height: 600px;
  position: relative;
  display: grid;
  grid-template-areas: "s2-plugin s2-load s2-hover"
                       "s2-title s2-load s2-hover"
                       "s2-info s2-load s2-hover";
  grid-template-columns: 30% 1fr 1fr;
  grid-template-rows: 120px 30px auto;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  perspective: 2077px;
}

@media (max-width: 1024px) {
  .section-2 {
    grid-template-areas: "s2-plugin" "s2-title" "s2-info" "s2-load" "s2-hover";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 30px auto 600px 600px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
}

.plugin-available-container {
  grid-area: s2-plugin;
  padding: 5px;
  height: 80px;
  font-weight: bold;
  color: #fefcfe;
  filter: drop-shadow(0px 0px 3px #fefcfe);
  -webkit-mask-image: repeating-linear-gradient(black, black 2px, transparent 3px);
  mask-image: repeating-linear-gradient(black, black 2px, transparent 3px);
}
.beta-label {
  position: absolute;
  top: 10px;
  left: 90px;
  font-size: 12px;
  line-height: 12px;
}

.hex-indicator {
  position: absolute;
  left: 5px;
  top: -10px;
  width: 60px;
  height: 90px;
  transform: scaleY(0.75);
  background: #5da1c6;
  --aug-border: 5px;
  --aug-border-bg: #fefcfe;
  --aug-inset: 10px;
  --aug-inset-bg: radial-gradient(#13242c, transparent 50%);
  --aug-tl: 30px;
  --aug-tr: 30px;
  --aug-bl: 30px;
  --aug-br: 30px;
}
.plugin-header {
  position: absolute;
  left: 70px;
  width: 320px;
  height: 60px;
  padding: 15px;
  font-size: 25px;
  padding-left: 27px;
  white-space: nowrap;
  background: #13242c;
  --aug-border: 3px;
  --aug-border-bg: #5da1c6;
  --aug-l: 10px;
  --aug-l-height: 42px;
  text-shadow: 0 0 20px #fefcfe;
}
@media (max-width: 425px) {
  .plugin-header {
    font-size: 1rem;
    width: auto;
  }
}

.section-2 h2 {
  grid-area: s2-title;
  font-size: 35px;
  color: #fefcfe;
  white-space: nowrap;
}

.section-2 h2 em {
  font-size: 40px;
  position: relative;
}
@media (max-width: 1024px) {
  .section-2 h2,
  .section-2 h2 em {
    font-size: 2rem;
  }
}

.section-2-text {
  grid-area: s2-info;
  padding-top: 50px;
  color: #5da1c6;
  font-size: 20px;
  line-height: 35px;
}

.section-2-text em {
  font-style: normal;
  font-size: inherit;
  opacity: 0.75;
}

.section-2-text:first-line {
  font-weight: bold;
}

.section-2-text a {
  color: #5da1c6;
  font-size: 15px;
  line-height: 30px;
  text-decoration: underline;
}

.custom-prop {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

.load-panel {
  grid-area: s2-load;
  margin-left: 50px;
  margin-right: 5px;
  --aug-l: 10px;
  --aug-l-height: 40%;
  --aug-tr: 25px;
  --aug-tr-width: 80px;
  --aug-tl: 25px;
  --aug-tl-width: 80px;
  --aug-border: 5px;
  --aug-border-bg: #5da1c6;
  transform-origin: 100% 50%;
  transform: rotateY(15deg);
}
.load-panel > * {
  opacity: var(--load-panel-opacity, 1);
  transition: opacity 0.25s ease;
}
.hover-panel {
  grid-area: s2-hover;
  margin-right: 50px;
  margin-left: 5px;
  --aug-r: 10px;
  --aug-r-height: 40%;
  --aug-tr: 25px;
  --aug-tr-width: 80px;
  --aug-tl: 25px;
  --aug-tl-width: 80px;
  --aug-border: 5px;
  --aug-border-bg: #5da1c6;
  transform-origin: 0px 50%;
  transform: rotateY(-15deg);
}
.hover-panel > * {
  opacity: 0.25;
  transition: opacity 0.25s ease;
}
.hover-panel:hover > * {
  opacity: 1;
}

@media (max-width: 1024px) {
  .load-panel,
  .hover-panel {
    transform: none;
    max-width: 750px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.loading-bar {
  position: absolute;
  top: 4%;
  height: 2.5%;
  width: 20%;
  left: 40%;
  --aug-border: 2px;
  --aug-border-bg: #fefcfe;
  --aug-border-fallback-color: #fefcfe;
  --aug-border-radius-fallback: 5px;
  --aug-inset: 2px;
  --aug-inset-bg: #fefcfe;
  filter: drop-shadow(0 0 2px #fefcfe);
}
.loading-bar::before {
  right: auto;
  width: var(--load-bar-width, 50%);
  transition: width 0.25s ease;
}

.section-2 .step {
  top: 10%;
  height: 27%;
  width: 80%;
  position: relative;
  left: 10%;
  color: #13242c;
  --aug-border: 2px;
  --aug-border-bg: #5da1c6;
  --aug-t: 10px;
  --aug-bl: 10px;
  --aug-br: 10px;
  --aug-bl-width: 50%;
  --aug-br-width: 50%;
  --aug-border-opacity: 0.25;
}

.section-2 .step-css {
  height: 21%;
  --aug-tl-height: 20px;
  --aug-tl-width: 50px;
  --aug-tr-height: 20px;
  --aug-tr-width: 50px;
  color: #5da1c6;
  font-size: 0.75rem;
  padding-top: 20px;
  padding-left: 5vw;
  font-family: monospace;
}
.section-2 .step-html {
  height: 33%;
  padding-top: 20px;
  padding-left: 5vw;
  color: #5da1c6;
  font-size: 0.75rem;
  font-family: monospace;
}
.section-2 .step-html .glitch,
.section-2 .step-html .glitch::before,
.section-2 .step-html .glitch::after {
  color: #fefcfe;
  font-size: 0.75rem;
  font-family: monospace;
  white-space: pre;
}
.section-2 .step-html .glitch::before {
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}
.section-2 .step-html .glitch::after {
  animation: noise-anim 4s infinite linear alternate-reverse;
}
.load-panel .step-html .glitch {
  -webkit-mask-image: none;
  mask-image: none;
  overflow: hidden;
  width: var(--load-spliced-width, 0px);
}
.section-2 .step-result {
  --aug-bl-height: 20px;
  --aug-bl-width: 20px;
  --aug-br-height: 20px;
  --aug-br-width: 20px;
  padding-top: 20px;
  padding-left: 6vw;
}

.my-spliced-augs {
  --aug-br: var(--load-br, 25px);
  width: 30%;
  height: 40px;
  margin: 5px;
  margin-top: 20px;
  color: #13242c;
  display: inline-block;
  vertical-align: top;
  font-size: 1.25vw;
  font-weight: bold;
  padding: 5px;
  padding-top: 8px;
}
span.my-spliced-augs {
  background: #ff5857;
  opacity: var(--load-span-display, 1)
}
input.my-spliced-augs {
  background: #fefcfe;
  opacity: var(--load-input-display, 1)
}

.result-detail {
  font-size: 0.75vw;
  color: #5da1c6;
  position: absolute;
  width: 100%;
  bottom: 25px;
  left: 0px;
  text-align: center;
}

.hover-panel .my-spliced-augs {
  --aug-br: 25px;
  --aug-l: 10px;
  --aug-r: 10px;
  opacity: 1!important;
}

.hover-panel .step-css,
.hover-panel .step-html {
  padding-left: 3vw;
  padding-right: 3vw;
}

.hide-on-input-hover {
  display: inline-block;
  font-size: inherit;
}
.input-hover .hide-on-input-hover {
  display: none;
}
.show-on-input-hover {
  display: none;
}
.input-hover .show-on-input-hover {
  display: inline-block;
  font-size: inherit;
  color: #fefcfe;
  -webkit-mask-image: repeating-linear-gradient(black, black 2px, rgba(0, 0, 0, 0.5) 3px);
  mask-image: repeating-linear-gradient(black, black 2px, rgba(0, 0, 0, 0.5) 3px);
}


@media (max-width: 1024px) {
  .result-detail,
  .my-spliced-augs,
  .section-2 .step {
    font-size: 0.75rem;
  }
  .load-panel > *,
  .hover-panel > * {
    opacity: 1;
  }
  .section-2 .step-html .glitch,
  .section-2 .step-html .glitch::before,
  .section-2 .step-html .glitch::after {
    font-size: 0.75rem;
  }
}


/* Glitch CSS (modified and masked), from css-tricks: https://css-tricks.com/glitch-effect-text-images-svg/ */
.glitch {
  display: inline-block;
  color: #fefcfe;
  font-style: normal;
  position: relative;
  margin: 0 auto;
  -webkit-mask-image: repeating-linear-gradient(black, black 2px, transparent 3px);
  mask-image: repeating-linear-gradient(black, black 2px, transparent 3px);
}

@keyframes noise-anim {
  0% {
    clip-path: inset(52% 0 49% 0);
  }
  5% {
    clip-path: inset(98% 0 3% 0);
  }
  10% {
    clip-path: inset(90% 0 10% 0);
  }
  15% {
    clip-path: inset(75% 0 4% 0);
  }
  20% {
    clip-path: inset(32% 0 34% 0);
  }
  25% {
    clip-path: inset(41% 0 45% 0);
  }
  30% {
    clip-path: inset(22% 0 54% 0);
  }
  35% {
    clip-path: inset(11% 0 20% 0);
  }
  40% {
    clip-path: inset(70% 0 5% 0);
  }
  45% {
    clip-path: inset(80% 0 9% 0);
  }
  50% {
    clip-path: inset(20% 0 29% 0);
  }
  55% {
    clip-path: inset(33% 0 22% 0);
  }
  60% {
    clip-path: inset(86% 0 13% 0);
  }
  65% {
    clip-path: inset(42% 0 4% 0);
  }
  70% {
    clip-path: inset(23% 0 4% 0);
  }
  75% {
    clip-path: inset(50% 0 45% 0);
  }
  80% {
    clip-path: inset(23% 0 58% 0);
  }
  85% {
    clip-path: inset(53% 0 33% 0);
  }
  90% {
    clip-path: inset(60% 0 8% 0);
  }
  95% {
    clip-path: inset(45% 0 54% 0);
  }
  100% {
    clip-path: inset(71% 0 5% 0);
  }
}
.glitch::after {
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #fbe806;
  top: 0;
  color: #fefcfe;
  background: #13242c;
  pointer-events: none;
  overflow: hidden;
  animation: noise-anim 5.25s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(22% 0 49% 0);
  }
  5% {
    clip-path: inset(57% 0 2% 0);
  }
  10% {
    clip-path: inset(21% 0 44% 0);
  }
  15% {
    clip-path: inset(72% 0 14% 0);
  }
  20% {
    clip-path: inset(67% 0 33% 0);
  }
  25% {
    clip-path: inset(39% 0 30% 0);
  }
  30% {
    clip-path: inset(68% 0 2% 0);
  }
  35% {
    clip-path: inset(44% 0 54% 0);
  }
  40% {
    clip-path: inset(48% 0 41% 0);
  }
  45% {
    clip-path: inset(44% 0 21% 0);
  }
  50% {
    clip-path: inset(33% 0 52% 0);
  }
  55% {
    clip-path: inset(89% 0 11% 0);
  }
  60% {
    clip-path: inset(90% 0 5% 0);
  }
  65% {
    clip-path: inset(64% 0 36% 0);
  }
  70% {
    clip-path: inset(29% 0 22% 0);
  }
  75% {
    clip-path: inset(50% 0 45% 0);
  }
  80% {
    clip-path: inset(67% 0 7% 0);
  }
  85% {
    clip-path: inset(100% 0 1% 0);
  }
  90% {
    clip-path: inset(96% 0 5% 0);
  }
  95% {
    clip-path: inset(96% 0 3% 0);
  }
  100% {
    clip-path: inset(76% 0 5% 0);
  }
}
.glitch::before {
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #5da1c6;
  top: 0;
  color: #fefcfe;
  background: #13242c;
  overflow: hidden;
  pointer-events: none;
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}
/* end glitch css from css-tricks.com */
