.section-4 {
  background: linear-gradient(black 10%, gold 90%);
}

.section-4 > [augmented-ui] {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  background: #fcfcfc;
  --aug-tl: 20px;
  --aug-tl-width: 5%;
  --aug-tr: 20px;
  --aug-tr-width: 5%;
  --aug-t-width: 50%;
  --aug-bl: 60px;
  --aug-br: 60px;
  --aug-b-height: 20px;
  --aug-b-width: 20%;
}

.section-4 h3 {
  font-size: 1.5vw;
  color: gold;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.install {
  line-height: 26px;
}

.install h3 {
  font-size: 2vw;
}

.qr-code-img {
  display: block;
  width: 40%;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.qr-code-img + span,
.qr-code-img + form {
  display: block;
  padding-top: 20px;
  text-align: center;
}

.paypal .qr-code-img {
  width: calc(40% - 10px);
}

.instruction {
  background: #eaeae0;
  padding: 5px;
}

@media (max-width: 768px) {
  .section-4 > [augmented-ui] {
    grid-template-columns: 90%;
    padding-left: 5%;
  }

  .section-4 h3 {
    font-size: 16px;
    margin-top: 20px;
  }

  .crypto-address {
    font-size: 13px;
  }
}
