.section-3 {
  position: relative;
  border-top: 20px solid #c89373;
  padding-top: 50px;
  background: #000000;
  display: grid;
  grid-template-areas: "s3-monitor s3-info-top"
                       "s3-info-bottom s3-info-bottom";
  grid-template-columns: 55% 1fr;
  padding: 50px;
}

@media (max-width: 1024px) {
  .section-3 {
    grid-template-areas: "s3-info-top" "s3-monitor" "s3-info-bottom";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
}

.monitor {
  grid-area: s3-monitor;
  max-width: 925px;
  height: 500px;
  margin-top: 60px;
  transform-origin: 50% 100%;
  transform: perspective(2077px) rotateY(24deg);
  --aug-border: 10px;
  --aug-border-bg: var(--aug-inset-bg);
  --aug-border-opacity: 0.75;
  --aug-tl: 40px;
  --aug-tr: 40px;
  --aug-br: 40px;
  --aug-bl: 40px;
  --aug-b-height: 20px;
  --aug-b-width: 400px;
  --aug-inset: 10px;
  --aug-inset-bg: radial-gradient(
      at top right,
      rgba(255, 128, 0, 0.95),
      transparent 90%
    ),
    radial-gradient(
      farthest-side at top left,
      rgba(255, 215, 0, 0.53),
      transparent 90%
    ),
    0 0/85px 85px repeating-radial-gradient(#410,
      #ffd700 1px,
      transparent 1px,
      transparent 15px
    ), #000011;
  --aug-border-fallback-color: orange;
}

.monitor .image-frame {
  width: 35vw;
  max-width: 600px;
  left: 50px;
  top: 50px;
  --aug-border: 6px;
  --aug-border-bg: #000000;
  --aug-border-opacity: 0.75;
  --aug-inset: 5px;
  --aug-inset-bg: #222;
  --aug-inset-opacity: 0.87;
}
@media (max-width: 1024px) {
  .monitor {
    transform: none;
    max-width: 700px;
    max-height: 500px;
    margin-bottom: 50px;
  }
  .monitor .image-frame {
    width: 70%
  }
}
@media (max-width: 750px) {
  .monitor {
    display: none;
  }
}

.image-frame .title {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.35vw;
  color: orange;
}

.image-frame .close-button {
  position: absolute;
  top: 10px;
  right: 1vw;
  text-align: center;
  font-size: 1vw;
  color: red;
  opacity: 0.25;
  cursor: pointer;
}

.monitor .image-frame img {
  position: relative;
  width: calc(100% - 50px);
  margin: 25px;
  border: 2px solid #000000;
  margin-top: 50px;
  cursor: pointer;
}

.monitor .image-frame pre {
  width: calc(100% - 50px);
  height: 310px;
  margin: 25px;
  border: 2px solid #000000;
  margin-top: 50px;
  font-size: 0.6vw;
  font-family: monospace;
  color: wheat;
  display: inline-block;
  padding-left: 0.75vw;
}

.monitor .ancient-browsers img {
  width: auto;
  height: 300px;
  margin-left: 10vw;
}

.monitor-icons {
  position: absolute;
  right: 40px;
  top: 40px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: 6vw;
  grid-row-gap: 15px;
}

.monitor-icon {
  cursor: pointer;
  width: 6vw;
}

.monitor-icon [augmented-ui] {
  --aug-inset: 3px;
  --aug-inset-bg: #222;
  --aug-inset-opacity: 0.87;
  --aug-border: 2px;
  --aug-border-bg: #222;
  --aug-border-opacity: 0.87;
  height: 90px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: orange;
  text-align: center;
  padding-top: 30px;
  font-size: 1vw;
}
.monitor-icon span {
  font-weight: bold;
  text-align: center;
  display: block;
  padding-top: 5px;
  font-size: 0.87vw;
  text-shadow: 0 0 8px orange, 0 0 8px orange, 0 0 8px orange;
}

.monitor-secret-icon {
  position: absolute;
  left: 10vw;
  top: 50%;
  z-index: -1;
}

.old-browsers,
.recent-browsers,
.ancient-browsers,
.top-secret {
  display: none;
}

.select-old .old-browsers,
.select-recent .recent-browsers,
.select-ancient .ancient-browsers,
.select-secret .top-secret {
  display: block;
}

.select-old .monitor-old-icon [augmented-ui],
.select-recent .monitor-recent-icon [augmented-ui],
.select-ancient .monitor-ancient-icon [augmented-ui],
.select-secret .monitor-secret-icon [augmented-ui] {
  --aug-border-bg: gold;
  --aug-border-opacity: 1;
}

.section-3 h2 {
  color: gold;
  padding-top: 50px;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .section-3 h2 {
    white-space: normal;
  }
}

.section-3-first-info {
  grid-area: s3-info-top;
  padding-left: 20px;
  padding-right: 20px;
}

.section-3-info {
  color: #eeeecc;
  padding-top: 20px;
}

.section-3-info-continued ul,
.section-3-info ul {
  list-style: disc;
  position: relative;
  left: 15px;
  margin-bottom: 20px;
}
.section-3-info-continued li,
.section-3-info li {
  margin-top: 5px;
  line-height: 20px;
}

.section-3-info-continued {
  grid-area: s3-info-bottom;
  color: #eeeecc;
  padding-left: 10vw;
  padding-right: 5vw;
  padding-bottom: 50px;
}

@media (max-width: 1024px) {
  .section-3-info-continued {
    padding-left: 20px;
    padding-right: 20px;
  }
}
