.section-1 {
  background: linear-gradient(to bottom right, rgba(3, 2, 3, 0.7), transparent),
              repeating-radial-gradient(rgba(235, 220, 192, 0.25), rgba(235, 220, 192, 0.125) 1px, transparent 2px, transparent 50px),
              repeating-linear-gradient(to right, transparent, transparent 24px, rgba(235, 220, 192, 0.05) 25px, transparent 26px, transparent 100px),
              repeating-linear-gradient(to bottom, transparent, transparent 24px, rgba(235, 220, 192, 0.05) 25px, transparent 26px, transparent 100px),
              #4b362f;
  background-size: auto auto, 50px 50px, 100px 100px, 100px 100px, auto auto;
  min-height: 650px;
  border-bottom: 25px solid #c89373;
  margin-top: -20px;
  display: grid;
  grid-template-columns: 65% 35%;
}

@media (max-width: 768px) {
  .section-1 {
    grid-template-areas: "top" "bottom";
    grid-template-columns: initial;
    height: auto;
  }
}

.section-info {
  padding: 20px;
  color: #ebdcc0;
  max-width: 415px;
}
@media (max-width: 768px) {
  .section-info {
    grid-area: top;
    width: 100%;
    max-width: 100%;
  }
}
.section-info ul {
  list-style: disc;
  position: relative;
  left: 15px;
  margin-bottom: 20px;
}
.section-info li {
  margin-top: 5px;
}
.section-info a {
  color: #ebdcc0;
  text-decoration: underline;
}
.section-1 h2 {
  margin-top: 50px;
  font-size: 2.5rem;
  font-weight: normal;
  text-shadow: 0px 0px 2px #444444;
  text-transform: lowercase;
  color: #c89373;
}

.code-display-group {
  display: grid;
  grid-template-columns: 50% 50%;
  perspective: 2077px;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .code-display-group {
    grid-area: bottom;
    display: block;
    padding-top: 0px;
    margin-bottom: 50px;
  }
  .code-display-group::after {
    content: "See desktop site for interactive code details!";
    display: block;
    padding: 20px;
    text-align: center;
    color: #ebdcc0;
    font-size: 1.25rem;
  }
}
.code-left {
  height: 500px;
  padding: 40px;
  margin-top: 30px;
  margin-left: 50px;
  color: #c89373; /* #ebdcc0; */
  --aug-inset: 10px;
  --aug-inset-bg: #030203;
  --aug-border: 1px;
  --aug-border-bg: #c89373;
  --aug-bl: 75px;
  --aug-br: 5px;
  --aug-r-height: 210px;
  --aug-r-offset: -30px;
  --aug-r-width: 10px;
}
@media (max-width: 768px) {
  .code-left {
    display: none;
  }
}
.code-css,
.code-html {
  font-family: monospace;
  font-size: 0.75rem;
  line-height: 15px;
  position: relative;
  left: 5%;
  width: 90%;
  margin-bottom: 25px;
  white-space: nowrap;
  --aug-tr: 10px;
  --aug-br: 8px;
  --aug-bl: 4px;
}
.code-css span,
.code-html span {
  font-family: monospace;
  font-size: 0.75rem;
  line-height: 15px;
}

[data-highlight-info="info-fallback"] .code-left .info-fallback,
[data-highlight-info="info-settings"] .code-left .info-settings,
[data-highlight-info="info-augs"] .code-left .info-augs,
[data-highlight-info="info-props"] .code-left .info-props,
[data-highlight-info="info-clip"] .code-left .info-clip,
[data-highlight-info="info-augmented"] .code-left .info-augmented,
[data-highlight-info="info-border"] .code-left .info-border,
[data-highlight-info="info-html"] .code-left .info-html,
[data-highlight-info="info-inset"] .code-left .info-inset,
[data-highlight-info="info-background"] .code-left .info-background,
.code-css span:hover,
.code-html span:hover {
  background: #ebdcc0;
  color: #030203;
}
.code-css::before,
.code-html::before {
  content: "HTML";
  position: relative;
  left: -4px;
  display: block;
  height: 18px;
  box-sizing: border-box;
  padding: 2px;
  padding-left: 4px;
  background: #ebdcc0;
  color: #030203;
  font-weight: bold;
  margin-bottom: 8px;
}
.code-css::before {
  content: "CSS";
}

.highlighted-info {
  position: absolute;
  left: 34vw;
  top: 140px;
  width: 12.5vw;
  height: 250px;
  color: #ebdcc0;
  font-family: monospace;
  padding: 15px;
  font-size: 1.5vw;
  line-height: 30px;
  --aug-border: 2px;
  --aug-border-bg: radial-gradient(circle at top left, #b1ffff, #b1ffff 30px, transparent 30px),
                   radial-gradient(circle at top right, #b1ffff, #b1ffff 30px, transparent 30px),
                   radial-gradient(circle at bottom left, #b1ffff, #b1ffff 30px, transparent 30px),
                   radial-gradient(circle at bottom right, #b1ffff, #b1ffff 30px, transparent 30px);
  opacity: 1;
  transition: opacity 0.25s ease, width 0.33s ease;
  transition-delay: 0.33s;
}
@media (max-width: 768px) {
  .highlighted-info {
    display: none;
  }
}

[data-highlight-info=""] .highlighted-info {
  width: 0px;
  opacity: 0;
  transition: opacity 0.25s ease, width 0.33s ease;
  transition-delay: 0s;
}

.highlighted-info > div {
  display: none;
}

[data-highlight-info="info-fallback"] .highlighted-info .show-fallback,
[data-highlight-info="info-settings"] .highlighted-info .show-settings,
[data-highlight-info="info-augs"] .highlighted-info .show-augs,
[data-highlight-info="info-props"] .highlighted-info .show-props,
[data-highlight-info="info-clip"] .highlighted-info .show-clip,
[data-highlight-info="info-augmented"] .highlighted-info .show-augmented,
[data-highlight-info="info-border"] .highlighted-info .show-border,
[data-highlight-info="info-html"] .highlighted-info .show-html,
[data-highlight-info="info-inset"] .highlighted-info .show-inset,
[data-highlight-info="info-background"] .highlighted-info .show-background {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.group-3d {
  height: 400px;
  position: relative;
  left: 0px;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  transform: scale(0.75) rotateY(-30deg) rotateX(45deg);
  transition: transform 0.5s ease, left 0.5s ease;
}
@media (max-width: 768px) {
  .group-3d {
    width: 90%;
    max-width: 500px;
    margin-top: -50px;
  }
}
.my-augfiguration {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0px;
  left: 0px;
  transition: transform 0.5s ease;
  transition-delay: 0.5s;
}
.my-augfiguration:nth-child(1) {
  transform: translateZ(225px);
}
.my-augfiguration:nth-child(2) {
  transform: translateZ(150px);
}
.my-augfiguration:nth-child(3) {
  transform: translateZ(75px);
}
.my-augfiguration:nth-child(4) {
  transform: translateZ(0px);
}
.compressed {
  left: 12vw; /* 40%; */
  /* currently firefox loses its grid area as the containing block for % calculations after toggling this class: https://bugzilla.mozilla.org/show_bug.cgi?id=1576355 */
  transform: scale(0.75);
  transition-delay: 0.5s;
}
.compressed .my-augfiguration {
  transition-delay: 0s;
}
.compressed .my-augfiguration:nth-child(1) {
  transform: translateZ(2.5px);
}
.compressed .my-augfiguration:nth-child(2) {
  transform: translateZ(2px);
}
.compressed .my-augfiguration:nth-child(3) {
  transform: translateZ(1.5px);
}
.compressed .my-augfiguration:nth-child(4) {
  transform: translateZ(1px);
}
.expanded-labels {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  color: #ebdcc0;
  font-family: monospace;
  font-size: 1.5vw;
  line-height: 30px;
  width: 0px;
  overflow: hidden;
  transition: transform 250ms ease, width 250ms ease;
  transition-delay: 0s;
}
@media (max-width: 768px) {
  .expanded-labels {
    font-size: 1rem;
  }
}
.group-3d:not(.compressed) .expanded-labels {
  width: 50%;
  transform: rotateX(-45deg) translateY(-110px);
  transition-delay: 1s;
}
.label-line {
  --aug-bl-width: 75%;
  --aug-bl-height: 8px;
  height: 10px;
  width: 100%;
  margin-bottom: 50px;
}
